
/*! нормализовать.css v4.1.1 | Лицензия MIT | github.com/necolas/normalize.css */

/**
 * 1. Измените семейство шрифтов по умолчанию во всех браузерах (самостоятельно).
 * 2. Запретить настройку размера шрифта после изменения ориентации в IE и iOS.
 */

html { 
 семейство шрифтов: без засечек; /* 1 */
 -ms-настройка размератекста: 100%; /* 2 */
 -webkit-настройка размера текста: 100%; /* 2 */
}

/**
 * Удалите поля во всех браузерах (по желанию пользователя).
 */

тело {
 поле: 0;
}

/* Определения отображения в HTML5
 ========================================================================== */

/**
 * Добавьте правильное отображение в IE 9-.
 * 1. Добавьте правильное отображение в Edge, IE и Firefox.
 * 2. Добавьте правильное отображение в IE.
 */

статья, 
в сторону, 
подробности, /* 1 */
подпись к рисунку, 
рисунок, 
нижний колонтитул, 
верхний колонтитул, 
главная, /* 2 */
меню, 
навигация, 
раздел, 
резюме { /* 1 */
 дисплей: блокировать;
}

/**
 * Добавить правильное отображение в IE 9-.
 */

аудио, 
холст, 
ход выполнения, 
видео { 
 дисплей: встроенный блок;
}

/**
 * Добавить правильное отображение в iOS 4-7.
 */

аудио: отсутствует ([элементы управления]) {
 дисплей: отсутствует;
 высота: 0;
}

/**
 * Добавьте правильное выравнивание по вертикали в Chrome, Firefox и Opera.
 */

прогресс { 
 выравнивание по вертикали: базовая линия;
}

/**
 * Добавьте правильное отображение в IE 10-.
 * 1. Добавьте правильное отображение в IE.
 */

шаблон, /* 1 */
[скрыто] {
 отображение: отсутствует;
}

/* Ссылки
 ========================================================================== */

/**
 * 1. Удалите серый фон активных ссылок в IE 10.
 * 2. Удалите пробелы в подчеркивании ссылок в iOS 8+ и Safari 8+.
 */

a { 
 цвет фона: прозрачный; /* 1 */
 -webkit-text-decoration-пропустить: объекты; /* 2 */
}

/**
 * Удаляйте контур выделенных ссылок, когда они также активны или наведены курсором мыши
 * во всех браузерах (по желанию пользователя).
 */

a: активен, 
a: наведите курсор { 
 ширина контура: 0;
}

/* Семантика на уровне текста
 ========================================================================== */

/**
 * 1. Удалите нижнюю границу в Firefox 39-.
 * 2. Добавьте правильное оформление текста в Chrome, Edge, IE, Opera и Safari.
 */

сокращение [title] { 
 нижняя граница: отсутствует; /* 1 */
 оформление текста: подчеркивание; /* 2 */
 оформление текста: подчеркивание пунктиром; /* 2 */
}

/**
 * Предотвратите повторное применение `bolder` с помощью следующего правила в Safari 6.
 */

b, 
strong { 
 вес шрифта: наследуется;
}

/**
 * Добавьте правильный вес шрифта в Chrome, Edge и Safari.
 */

b, 
сильный {
 размер шрифта: более жирный;
}

/**
 * Добавьте правильный стиль шрифта в Android 4.3-.
 */

dfn { 
 стиль шрифта: курсив;
}

/**
 * Исправьте размер шрифта и поля для элементов `h1` в контекстах `section` и 
 * `article` в Chrome, Firefox и Safari.
 */

h1 { 
 размер шрифта: 2em;
 поле: 0,67em 0;
}

/**
 * Добавьте правильный фон и цвет в IE 9-.
 */

отметьте { 
 цвет фона: #ff0;
 цвет: #000;
}

/**
 * Добавьте правильный размер шрифта во всех браузерах.
 */

small { 
 размер шрифта: 80%;
}

/**
 * Запретить элементам `sub` и `sup` влиять на высоту строки в 
 * всех браузерах.
 */

sub, 
sup { 
 размер шрифта: 75%;
 высота строки: 0; 
 положение: относительное;
 выравнивание по вертикали: базовая линия;
}

sub { 
 снизу: -0,25 em;
}

sup {
 сверху: -0,5em;
}

/* Встроенное содержимое
 ========================================================================== */

/**
 * Удалите границы изображений внутри ссылок в IE 10-.
 */

img {
 стиль границы: отсутствует;
}

/**
 * Скройте переполнение в IE.
 */

svg: not(:root) {
 переполнение: скрыто;
}

/* Группировка содержимого
 ========================================================================== */

/**
 * 1. Исправьте наследование и масштабирование размера шрифта во всех браузерах.
 * 2. Исправьте нечетный размер шрифта `em` во всех браузерах.
 */

code, 
kbd, 
pre, 
samp { 
 семейство шрифтов: моноширинные, однопространственные; /* 1 */
 размер шрифта: 1em; /* 2 */
}

/**
 * Добавьте правильное поле в IE 8.
 */

рисунок {
 поле: 1em 40px;
}

/**
 * 1. Добавьте правильный размер поля в Firefox.
 * 2. Показать переполнение в Edge и IE.
 */

hr {
 размер поля: content-box; /* 1 */
 высота: 0; /* 1 */
 переполнение: видимое; /* 2 */
}

/* Формы
 ========================================================================== */

/**
 * 1. Измените свойства шрифта на `наследование` во всех браузерах (по желанию пользователя).
 * 2. Удалите поля в Firefox и Safari.
 */

кнопка, 
ввод, 
группа опций, 
выбор, 
текстовое поле { 
 шрифт: наследовать; /* 1 */
 поле: 0; /* 2 */
}

/**
 * Восстановите вес шрифта, не установленный предыдущим правилом.
 */

optgroup { 
 вес шрифта: жирный;
}

/**
 * Показать переполнение в IE.
 * 1. Показать переполнение в Edge.
 */

кнопка, 
ввод { /* 1 */
 переполнение: видимое;
}

/**
 * Удалите наследование преобразования текста в Edge, Firefox и IE.
 * 1. Удалите наследование преобразования текста в Firefox.
 */

кнопка, 
выберите { /* 1 */
 преобразование текста: отсутствует;
}

/**
 * 1. Предотвратите ошибку WebKit, из-за которой (2) уничтожаются собственные `аудио` и `видео`
 * элементы управления в Android 4.
 * 2. Исправьте невозможность оформления кликабельных типов в iOS и Safari.
 */

кнопка, 
html [type="кнопка"], /* 1 */
[type="сброс"], 
[type="отправить"] {
 -webkit-внешний вид: кнопка; /* 2 */
}

/**
 * Удалите внутреннюю границу и отступы в Firefox.
 */

кнопка::moz-focus-внутренняя, 
[тип="кнопка"]::moz-focus-внутренняя, 
[тип="сброс"]::moz-focus-внутренняя, 
[type="отправить"]::-moz-focus-inner { 
 стиль границы: отсутствует;
 заполнение: 0;
}

/**
 * Восстановите стили фокусировки, не заданные предыдущим правилом.
 */

кнопка:-moz-фокусировка, 
[type="кнопка"]:-moz-фокусировка, 
[type="сброс"]:-moz-фокусировка, 
[type="отправить"]:-moz-focusring { 
 контур: текст кнопки с точкой размером 1 пиксель;
}

/**
 * Измените границы, поля и отступы во всех браузерах (по желанию пользователя).
 */

набор полей { 
 граница: сплошная 1px #c0c0c0;
 поля: 0 2px;
 отступы: 0,35em 0,625em 0,75em;
}

/**
 * 1. Исправьте перенос текста в Edge и IE.
 * 2. Исправьте наследование цвета от элементов `fieldset` в IE.
 * 3. Удалите отступы, чтобы разработчики не были застигнуты врасплох при обнулении
 * элементы `fieldset` во всех браузерах.
 */

легенда {
 размер рамки: border-box; /* 1 */
 цвет: наследуется; /* 2 */
 отображение: таблица; /* 1 */
 максимальная ширина: 100%; /* 1 */
 заполнение: 0; /* 3 */
 пробелы: обычные; /* 1 */
}

/**
 * Удалите вертикальную полосу прокрутки по умолчанию в IE.
 */

textarea { 
 переполнение: автоматическое;
}

/**
 * 1. Добавьте правильный размер поля в IE 10-.
 * 2. Удалите отступы в IE 10-.
 */

[type="флажок"], 
[type="радио"] {
 размер поля: border-box; /* 1 */
 заполнение: 0; /* 2 */
}

/**
 * Исправьте стиль курсора кнопок увеличения и уменьшения в Chrome.
 */

[тип="число"]::-webkit-внутренняя кнопка вращения, 
[тип="число"]::-webkit-внешняя кнопка вращения {
 высота: автоматическая;
}

/**
 * 1. Исправьте странный внешний вид в Chrome и Safari.
 * 2. Исправьте стиль оформления в Safari.
 */

[type="search"] {
 -webkit-appearance: textfield; /* 1 */
 смещение контура: -2px; /* 2 */
}

/**
 * Удалите кнопки внутреннего заполнения и отмены в Chrome и Safari в OS X.
 */

[тип="поиск"]::-webkit-кнопка отмены поиска, 
[тип="поиск"]::-webkit-оформление поиска {
 -webkit-внешний вид: отсутствует;
}

/**
 * Исправьте стиль текста для заполнителей в Chrome, Edge и Safari.
 */

::-webkit-input-placeholder { 
 цвет: наследуется;
 непрозрачность: 0,54;
}

/**
 * 1. Исправьте невозможность оформления кликабельных типов в iOS и Safari.
 * 2. Измените свойства шрифта на `наследование` в Safari.
 */

::-webkit-file-upload-button {
 -webkit-внешний вид: кнопка; /* 1 */
 шрифт: унаследовать; /* 2 */ 
}