* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.container {
  width: 1420px;
  margin: 0 auto;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header_ul li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.header_ul li a:hover {
  border-bottom: 2px solid white;
}
.zap {
  font-size: 30px;
  font-weight: bold;
  color: #060628;
}
.spisk_h1 {
  color: #060628;
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: bold;
}
.img_zap3 {
  padding-bottom: 10px;
  padding-right: 5px;
}
.zap3 {
  font-size: 30px;
  font-weight: bold;
  color: #060628;
}
.slayder {
  height: 950px;
  flex-shrink: 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, -0.55) 0%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url("../maket.zashita/img_slayd/slayder1.png") lightgray 50% / cover
      no-repeat;
}
.container {
  .header ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 45px;
    color: #fff;
    font-size: 16px;
  }
  .click {
    width: 196px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #0000de;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 17px;
  }
  b {
    font-size: 30px;
  }
  .icon1 {
    margin-left: 48px;
    position: absolute;
  }
  .icon {
    margin-left: 105px;
    position: absolute;
  }
  .icon2 {
    margin-left: 78px;
    position: absolute;
  }
  .icon3 {
    margin-left: 71px;
    position: absolute;
  }
  .refill {
    display: grid;
    justify-content: end;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.36);
    padding-top: 20px;
    margin-top: 25px;
  }
  .refill p {
    color: #fff;
    font-size: 36px;
    margin: 20px 22px;
  }
  .refill p:nth-child(2) {
    color: #fff;
    font-size: 16px;
  }
  .krosnadar {
    width: 224px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #0000de;
    margin-top: 60px;
    position: relative;
  }
  .person {
    width: 224px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
  }
  .knopka {
    width: 195px;
    height: 160px;
    flex-shrink: 0;
    background-color: #dd2a1b;
    border-radius: 40px;
    color: #fff;
    font-size: 36px;
    margin: 20px 22px;
  }
}
.container {
  .spisk {
    display: flex;
    justify-content: space-around;
  }
  .azc {
    width: 344px;
    height: 272px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #faf5f5;
    text-align: center;
  }
  .azc img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 47px;
  }
  .azc1 {
    color: #060628;
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
  }
  .azc2 {
    color: #060628;
    text-align: center;
    font-size: 16px;
  }
}
.container {
  .bonusy {
    display: flex;
    justify-content: space-between;
    margin-top: 215px;
  }
  .bonus {
    width: 702px;
    height: 398px;
    flex-shrink: 0;
  }
  .bonus p:nth-child(2) {
    color: #060628;
    font-size: 20px;
    padding-top: 15px;
  }
  .podrobna {
    width: 340px;
    height: 80px;
    border-radius: 15px;
    border: 1px solid #0000de;
    text-align: center;
    padding: 25px;
  }
  .podrobna a {
    color: #0000de;
    font-size: 20px;
  }
  .card {
    width: 470px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 25px;
    background: url("../maket.zashita/imgcard/card1.png"), lightgray no-repeat;
  }
}
.container {
  .neft {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
  }
  .set {
    width: 500px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 64px 6px;
    background: #0000de;
    position: relative;
  }
  .set_img {
    position: absolute;
    bottom: 0px;
    left: 86px;
  }
  .pril {
    width: 500px;
  }
  .pril p:nth-child(2) {
    color: #060628;
    font-size: 20px;
    padding-top: 20px;
  }
}
.container {
  .minsk p:nth-child(1) {
    color: #060628;
    font-size: 36px;
    padding-bottom: 20px;
  }
  .minsk p:nth-child(2) {
    width: 588px;
    color: #060628;
    font-size: 20px;
    padding-bottom: 40px;
  }
  .minsk a {
    color: #0000de;
    font-size: 20px;
  }
  .grodno {
    width: 702px;
    height: 398px;
    flex-shrink: 0;
    border-radius: 64px 6px;
    background: url("../maket.zashita/imgzprawka/Rectangle1.png"),
      lightgray 50% / cover no-repeat;
    position: relative;
  }
  .icons1 {
    position: absolute;
    top: 20px;
    left: 110px;
  }
  .icons2 {
    position: absolute;
    top: 275px;
    right: 60px;
  }
  .icons3 {
    position: absolute;
    top: 260px;
    left: 175px;
  }
  .icons4 {
    position: absolute;
    top: 50px;
    right: 60px;
  }
  .maps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
  }
}
.container {
  h2 {
    margin-top: 110px;
    margin-bottom: 50px;
  }
  .video iframe {
    width: 1420px;
    height: 771px;
    flex-shrink: 0;
    border-radius: 15px;
  }
}
.container {
  .items {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }
  .img_item1 {
    border-radius: 15px;
    background: url("../maket.zashita/img_footr/foto.png");
    width: 703px;
    height: 464px;
    flex-shrink: 0;
  }
  .img_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 65px;
  }
  .img2 {
    padding-left: 55px;
  }
  .title {
    padding-top: 15px;
    padding-bottom: 5px;
    color: #060628;
    font-weight: bold;
    font-size: 20px;
    padding-left: 58px;
  }
  .text {
    padding-bottom: 25px;
    padding-left: 50px;
  }
  .icons_item h3 {
    color: #060628;
    font-size: 36px;
    margin-top: 110px;
    margin-left: 110px;
  }
}
.footer {
  background: #000061;
  height: 542px;
  flex-shrink: 0;
  margin-top: 30px;
}
.container {
  .text1 {
    color: #fff;
    font-size: 24px;
  }
  .text2 {
    color: #fff;
    font-size: 16px;
  }
  .ul_items {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    color: rgb(216, 206, 206);
    line-height: 214%;
    position: relative;
  }
  .img_footr {
    width: 400px;
    height: 320px;
    border-radius: 15px;
  }
  .img_footr12 {
    position: absolute;
    top: 225px;
    right: 210px;
  }
  .click2 {
    color: white;
    text-align: center;
  }
}
