*{
    box-sizing: border-box;
}
label{
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
select {
    width: 170px;
}
input[type=submit] {
    width: 180px;
    padding: 10px;
}
fieldset {
    margin-bottom: 20px;
}
body {
    max-width: 600px;
    margin: 0 auto;
}