*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    width: 1450px;
    margin: 0 auto;   
}
body{
    background-color:white;
}
.content h1{
    text-align: center;
    padding: 20px;
}

.home1{
    border-bottom: solid 4px yellow;
    font-size: 40px;
    text-align: center;
}