* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
.container {
  width: 1420px;
  margin: 0 auto;
}
@font-face {
  font-family: "Montserrat";
  src: url("../slayd2/fonts1/Montserrat-Light.ttf");
}
body {
  font-family: "Montserrat", sans-serif;
}
.header_ul li a{
  font-size: 18px;
  color: #FFFFFF;
  text-decoration:none;
  cursor:pointer;
}
.header_ul li a:hover {
  border-bottom: 2px solid white;
}
.zap {
  font-size: 30px;
  font-weight: bold;
  color: #060628;
}
.zap1 {
  color: #060628;
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: bold;
}
.img_wektor{
  padding-bottom: 10px;
  padding-right: 5px;
}
.zap3 {
  font-size: 30px;
  font-weight: bold;
  color: #060628;
}
.slayder {
  height: 950px;
  flex-shrink: 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, -0.55) 0%,
      rgba(0, 0, 0, 0.45) 100%
    ),
    url("../slayd2/img_slayd2/slayder2.png") lightgray 50% / cover no-repeat;
}
.container {
  .header_ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 45px;
    color: #fff;
    font-size: 16px;
  }
  .click {
    width: 196px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #0000de;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-size: 15px;
  }
  b {
    font-size: 30px;
  }
  .icon1 {
    margin-left: 48px;
    position: absolute;
  }
  .icon {
    margin-left: 105px;
    position: absolute;
  }
  .icon2 {
    margin-left: 78px;
    position: absolute;
  }
  .icon3 {
    margin-left: 71px;
    position: absolute;
  }
  .refill {
    display: grid;
    justify-content: end;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.36);
    padding-top: 20px;
    margin-top: 25px;
  }
  .refill p {
    color: #fff;
    font-size: 36px;
    margin: 20px 22px;
  }
  .refill p:nth-child(2) {
    color: #fff;
    font-size: 16px;
  }
  .krosnadar {
    width: 224px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #0000de;
    margin-top: 60px;
    position: relative;
  }
  .person {
    width: 224px;
    height: 115px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
  }
  .knopka {
    width: 195px;
    height: 160px;
    flex-shrink: 0;
    background-color: #dd2a1b;
    border-radius: 40px;
    color: #fff;
    font-size: 36px;
    margin: 20px 22px;
  }
}
.container {
  .glawnyy {
    color: #0000de;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .glawnyy_h1 {
    color: #060628;
    font-size: 36px;
    padding-bottom: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 70px;
  }
  .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .img_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
  }
  .text {
    color: #060628;
    font-size: 20px;
    width: 700px;
  }
  .text_items {
    width: 695px;
    color: #060628;
    font-size: 20px;
  }
}
.container {
  .fuel {
    display: flex;
    justify-content: space-around;
  }
  .diesel_click {
    width: 239px;
    height: 60px;
    border: 1px solid #0000de;
    border-radius: 15px;
    padding: 20px;
    color: #0000de;
    margin-left: 15px;
  }
  .diesel_text {
    color: #060628;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .diesel_text2 {
    color: #060628;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 30px;
  }
  .diesel {
    width: 270px;
    height: 458px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #faf7f7;
    text-align: center;
    padding-top: 30px;
  }
}
.container {
  .suppliers {
    display: flex;
    justify-content: space-around;
  }
  .oil {
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
  .oil_keep {
    color: #060628;
    font-size: 20px;
  }
}
.container {
  .license {
    display: flex;
    justify-content: space-around;
  }
}
.footr_img {
  background: #0f0f7e;
  margin-top: 80px;
}
.container {
  .specialists {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
  }
  .specialists_pp {
    color: #fff;
    font-size: 36px;
    font-style: normal;
  }
  .specialists_ppp {
    color: #d3cdcd;
    font-size: 20px;
    font-style: normal;
    padding-top: 20px;
  }
  .specialists_form {
    padding-top: 35px;
  }
  .form_input {
    width: 344px;
    height: 60px;
    flex-shrink: 0;
    border: 1px white solid;
    border-radius: 5px;
    background: #0f0f7e;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    color: aliceblue;
  }
  .form_p {
    padding-left: 10px;
    padding-top: 10px;
    color: #faf7f7;
  }
  .form_btn {
    width: 344px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    background: white;
    margin-left: 10px;
  }
}
.footr_img_oil {
  background: #000061;
  height: 542px;
  flex-shrink: 0;
}
.container {
  .text1 {
    color: #fff;
    font-size: 24px;
  }
  .text2 {
    color: #fff;
    font-size: 16px;
  }
  .footr_ul{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    color: rgb(216, 206, 206);
    line-height: 214%;
    position: relative;
  }
  .img_footr {
    width: 400px;
    height: 320px;
    border-radius: 15px;
  }
  .click2 {
    color: white;
    text-align: center;
  }
  .img_footr14{
    position: absolute;
    top: 225px;
    right: 210px;
  }
}
