*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style-type: none;
}
.bin{
    float: left;
    padding: 25px 0px 20px 70px;
}
.menu{
    float: right;
    margin: 0 100px;
}
.cont{
    width: 1450px;
    margin: 0 auto;
}
.menu2{
    float: left;
    list-style: none;
    padding: 30px 20px 0 20px;
    font-size: 16px;
    font-family: 'italic', sans-serif;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase
}
.but{
    width: 250px;
    height: 75px;
    background: #003B77;
    color: #FFF;
    font-size: 16px;
    font-family: 'italic', sans-serif;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
}
.bur{
    padding: 0 0 0 40px;;
}
.titl{
    padding: 45px 0 70px 0;
    width: 900px;
}
.trusk{
    background: url('tr.XXL.png') 0 180px no-repeat ;
    background-size: cover;
    height: 700px;
}
h2{
    white-space: pre;
    color: #9F9;
    font-size: 40px;
    font-family: 'italic', sans-serif;
    font-weight: 400;
    line-height: 140%;
    margin: 21px 92px
    
}
.compan h3 {
    margin:0  260px;
    color: white;
}
.p22{
    margin: -22px 391px;
    color: white;
}
.p33{
    margin: 35px 391px;
    color: white;
    font-size: 10px;
}
.menu4  {
float: left;
margin: 20px 63px;
}
.menu5{
    color: #003B77;
    font-size: 50px;
}
.cont h4{
    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 140%;
    margin: 0 200px
}
.burn h5{
    margin: 135px 206px;
    font-size: 52px;
    font-family: Montserrat;
    line-height: 140%;
}
.p44{
    margin:-146px 310px;
    font-size: 24px;
    font-family: Montserrat;
    line-height: 140%;
}
.maps{
        margin: 190px 0px;
}
.but2{
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 140%;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 0 141px;
}
.galer{
    background: url('foto2.png');
    height: 600px;
}
.titl2{
    width: 900px;
    margin: -60px 206px;
}
.cont h5
{
    margin:84px 216px;
    color: white;
    font-size: 52px;
    font-family: Montserrat;
    line-height: 140%;
}
.p55{
    font-size: 24px;
    font-family: Montserrat;
    line-height: 140%;
    color: white;
    margin: -61px 333px;;
}
.foto12{
    width: 300px;
    height:200px;
    margin: -367px 13px;
}
.foto13{
    width: 300px;
    height:200px;
    margin: -367px  138px;
}
.foto14{
    width: 300px;
    height:200px;
    margin: -367px 0;
}
.cont h6{
    font-size: 52px;
    font-family: Montserrat;
    line-height: 140%;
    margin: 0px 210px;
}