*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    width: 250px;
    background-color: yellow;
}
.h1{
    background-color: aqua;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.h3
{
    background-color: aqua;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
h2{
    text-align: center;
    padding: 20px 0;
}
.fotbol{
    background: url('fotbol2.png') right top repeat-y ;
}