.CHESS
{
  border-collapse: collapse;
}

.CHESS td
{
  width: 50px;
  height: 50px;
  border: solid gray 1px;
}
.CHESS tr:nth-last-of-type(odd) td:nth-of-type(odd){
  background-color: black;
}
.CHESS tr:nth-last-of-type(even) td:nth-of-type(even){
  background-color: black;
}
.CHESS tr td:first-child{
  background-color: green;
  width: 20px;
  
}
.CHESS tr td:last-child{
  background-color: green;
  width: 20px;
}