.mon1{
font-size: 30px;
font-weight: bold; 
}
.mon2{
    color: rgb(85, 212, 85);
}
.mon3{
    color: red;
    font-weight: bold;
}
.mon5{
    color: rgb(0, 47, 255);
}
.mon12{
    font-size: 30px;
    font-weight: bold; 
}
.mon13{
    color: rgb(85, 212, 85);
}
.mon14{
    color: red;
    font-weight: bold;
}
.mon15{
    color: rgb(0, 47, 255);
}
.mon16{
    color: rgb(0, 47, 255);
}
.mon21{
    font-size: 30px;
    font-weight: bold; 
}
.mon22{
    color: rgb(85, 212, 85);
}
.mon23{
    color: red;
    font-weight: bold;
}
.mon24{
    color: rgb(0, 47, 255);
}
